################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/week2/ConsoleApp1/.vs/ConsoleApp1/v16
